.main-card{
      background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.51);
}

mat-list {
  height: 100vh;
    background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  overflow: auto !important;
}
mat-list-item{
  border: 0.75px solid rgba(255, 255, 255, 0.51);
 
  min-height: 15vh;
}

.label{
  text-shadow: rgba(0,72,255,1) 0px 0px 36px;
  font-size: 1vw; 
  color:aqua
}
.value{
  text-shadow: rgb(136, 161, 226) 0px 0px 36px;
  font-size: 1vw; 
  color:rgb(241, 241, 241)
}
.fixedBtn{
  position: absolute;
  right: 5vw;
 top: 1vh;
}