
<mat-card appearance="outlined" class="main-card">
  <mat-card-header>
    <mat-card-title><span style="color: aliceblue;">created members events</span></mat-card-title>
    <mat-card-subtitle>real-time event from elastic</mat-card-subtitle>
  </mat-card-header>
<mat-card-content>
<!--     <mat-list role="list">
        <ng-template *ngFor="let member in members$">
        <mat-list-item  role="listitem">"nom: " {{member.nom}}, 'email '+ {{member.email}}</mat-list-item>
        </ng-template>
        
    </mat-list> -->
</mat-card-content>
</mat-card>



