<main>
  <!-- main for background -->
<mat-tab-group>
  <mat-tab label="Create members"> 
    <div class="formContainer">
    <app-member-form style="margin-left: auto; margin-right:auto;"></app-member-form> 
    </div>
   </mat-tab>

  <mat-tab label="Created members events"> 
   <app-created-members></app-created-members>
  </mat-tab>  
</mat-tab-group>

<div class="stars"></div>
<div class="shooting-star"></div>
<div class="shooting-star"></div>
<div class="shooting-star"></div>
<div class="shooting-star"></div>
<div class="shooting-star"></div>
</main>
<router-outlet />
