:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.member-c-card {
  max-width: 400px;
  margin-top: 17vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.51);
}
.center{

   margin-left: auto;
  margin-right: auto;
}
.member-c-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}